<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".NgaloApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ngalo_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ngalo_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ngalo.ActionBar">
        <activity
            android:name=".reciept.Reciepts"
            android:exported="false"
            android:label="Receipts"
            android:parentActivityName=".admin.AdminPanel">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".admin.AdminPanel" />
        </activity>
        <activity
            android:name=".reciept.RecieptDetails"
            android:exported="false"
            android:label="Receipt"
            android:parentActivityName=".reciept.Reciepts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".reciept.Reciepts" />
        </activity>
        <activity
            android:name=".purchases.PurchasesHistoryDetails"
            android:exported="false"
            android:label="Details"
            android:parentActivityName=".usersorders.History">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".usersorders.History" />
        </activity>

        <activity
            android:name=".reciept.GenerateReceiptActivity"
            android:exported="false"
            android:label="Reciept" />



        <activity
            android:name=".auth.VerificationActivity"
            android:exported="false"
            android:label="@string/title_activity_verification"
            android:theme="@style/Theme.Ngalo.ActionBar" />
        <activity
            android:name=".auth.AuthUiActivity"
            android:exported="false"
            android:label="@string/title_activity_phone_number_auth"
            android:theme="@style/Theme.Ngalo.ActionBar" />
        <activity
            android:name=".purchases.Purchases"
            android:exported="false"
            android:label="Purchases"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".completed.CompletedDetails"
            android:exported="false"
            android:label="Details"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".purchases.PurchasesDetails"
            android:exported="false"
            android:label="Details" />
        <activity
            android:name=".purchases.UserPurchaseGroup"
            android:exported="false"
            android:label="Purchases" />
        <activity
            android:name=".notifications.NotificationsActivity"
            android:exported="false"
            android:label="@string/title_activity_notifications" />
        <activity
            android:name=".rides.Rides"
            android:exported="false"
            android:label="Rides" />
        <activity
            android:name=".rides.RidesActivity"
            android:exported="false"
            android:label="Rides" />
        <activity
            android:name=".progress.ProgressActivity"
            android:exported="false"
            android:label="@string/title_activity_progress"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".admin.ConfirmationActivity"
            android:exported="false"
            android:label="@string/title_activity_confirmation"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".cart.CartActivity"
            android:exported="false"
            android:label="@string/title_activity_cart"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".SocialMediaActivity"
            android:exported="false"
            android:label="Social Media" />
        <activity
            android:name=".usersorders.UserOrderDetails"
            android:exported="false"
            android:label="Order Details" />
        <activity
            android:name=".usersorders.History"
            android:exported="false"
            android:label="History" />
        <activity
            android:name=".completed.CompletedFragment"
            android:exported="false"
            android:label="Completed" />
        <activity
            android:name=".admin.AdminPanel"
            android:exported="false"
            android:label="@string/title_activity_admin_panel"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".orders.OrderDetails"
            android:exported="false"
            android:label="Details"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".orders.OrdersOptions"
            android:exported="false"
            android:label="@string/title_activity_orders"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".admin.AdminHomePage"
            android:exported="false"
            android:label="Home"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="@string/title_activity_admin_home_page"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAJBlxp2SUfwdh5GMfGP19Q_aetYtKybgs" />

        <activity
            android:name=".BikeRepair"
            android:exported="false"
            android:label="@string/title_activity_bike_repair" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".MyAccount"
            android:exported="false"
            android:label="Profile" />
        <activity
            android:name=".admin.AddBicyclePart"
            android:exported="false"
            android:label="AddBicyclePart" />
        <activity
            android:name=".admin.UploadItems"
            android:exported="false"
            android:label="@string/title_activity_upload_items"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="Home" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".admin.CreateAdvert"
            android:exported="false"
            android:label="Create Advert" />
        <activity
            android:name=".BikesScreen"
            android:exported="false"
            android:label="@string/title_activity_bikes_options"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".BikeDetails"
            android:exported="false"
            android:label="Details"
            android:parentActivityName=".BikeDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BikeDetails" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.UploadBikeImages"
            android:exported="false" />
        <activity
            android:name=".BikesOptions"
            android:exported="false"
            android:theme="@style/Theme.Ngalo.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.BikeHireScreen"
            android:exported="false"
            android:label="@string/title_activity_bike_hire_screen"
            android:theme="@style/Theme.Ngalo">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminOUserActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="false"
            android:label="@string/main_screen"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".models.BikeHireModel"
            android:exported="false"
            android:label="@string/title_activity_hire_bike"
            android:theme="@style/Theme.Ngalo" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>