<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />


    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".NgaloApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ngalo_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ngalo_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ngalo.ActionBar">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3562966815138772~8965443035"/>

        <meta-data
            android:name="com.google.android.gms.auth.api.phone.api_key"
            android:value="AIzaSyBq9LKJGuIJR6RHy3kR4bjATd_CGNBcy_Q" />


        <activity
            android:name=".BookRidingLessons"
            android:exported="false"
            android:label="Book Cycling lessons" />
        <activity
            android:name=".VerifyPhoneNumber"
            android:exported="false"
            android:label="Book Cycling lessons" />
        <activity
            android:name=".RidesForBooking"
            android:exported="false"
            android:label="Book Ride"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".reciept.RecieptDetails"
            android:exported="false"
            android:label="Receipt"
            android:parentActivityName=".reciept.Reciepts">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".reciept.Reciepts" />
        </activity>
        <activity
            android:name=".purchases.PurchasesHistoryDetails"
            android:exported="false"
            android:label="Details"
            android:parentActivityName=".usersorders.History">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".usersorders.History" />
        </activity>
        <activity
            android:name=".reciept.GenerateReceiptActivity"
            android:exported="false"
            android:label="Reciept" />
        <activity
            android:name=".auth.VerificationCodeActivity"
            android:exported="false"
            android:label="@string/title_activity_verification"
            android:theme="@style/Theme.Ngalo.ActionBar" />
        <activity
            android:name=".auth.AuthUiActivity"
            android:exported="false"
            android:label="@string/title_activity_phone_number_auth"
            android:theme="@style/Theme.Ngalo.ActionBar" />
        <activity
            android:name=".purchases.Purchases"
            android:exported="false"
            android:label="Purchases"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".completed.CompletedDetails"
            android:exported="false"
            android:label="Details"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".purchases.PurchasesDetails"
            android:exported="false"
            android:label="Details" />
        <activity
            android:name=".purchases.UserPurchaseGroup"
            android:exported="false"
            android:label="Purchases" />
        <activity
            android:name=".notifications.NotificationsActivity"
            android:exported="false"
            android:label="@string/title_activity_notifications" />
        <activity
            android:name=".rides.Rides"
            android:exported="false"
            android:label="Rides" />
        <activity
            android:name=".rides.RidesActivity"
            android:exported="false"
            android:label="Rides" />
        <activity
            android:name=".progress.ProgressActivity"
            android:exported="false"
            android:label="@string/title_activity_progress"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".cart.ConfirmationActivity"
            android:exported="false"
            android:label="@string/title_activity_confirmation"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".cart.CartActivity"
            android:exported="false"
            android:label="@string/title_activity_cart"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".SocialMediaActivity"
            android:exported="false"
            android:label="Social Media" />
        <activity
            android:name=".usersorders.UserOrderDetails"
            android:exported="false"
            android:label="Order Details" />
        <activity
            android:name=".usersorders.History"
            android:exported="false"
            android:label="History" />
        <activity
            android:name=".completed.CompletedFragment"
            android:exported="false"
            android:label="Completed" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="Home"
            android:theme="@style/Theme.Ngalo.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAJBlxp2SUfwdh5GMfGP19Q_aetYtKybgs" />

        <activity
            android:name=".BikeRepair"
            android:exported="false"
            android:label="@string/title_activity_bike_repair" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".MyAccount"
            android:exported="false"
            android:label="Profile" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="Settings"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".BikesScreen"
            android:exported="false"
            android:label="@string/title_activity_bikes_options"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".BikeDetails"
            android:exported="false"
            android:label="Details"
            android:theme="@style/Theme.Ngalo.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".BikesOptions"
            android:exported="false"
            android:theme="@style/Theme.Ngalo.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.BikeHireScreen"
            android:exported="false"
            android:label="@string/title_activity_bike_hire_screen"
            android:theme="@style/Theme.Ngalo">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".models.BikeHireModel"
            android:exported="false"
            android:label="@string/title_activity_hire_bike"
            android:theme="@style/Theme.Ngalo" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>